body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
textarea {
height: 405px !important; 

}
.ajax-loader {
    position: absolute;
    left: 20%;
    top: 20%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: none;     
}
.showAjaxLoader {
position: absolute;
    right: 30%;
    top: 70%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
	display: block; 
    width: 5%;    
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.rowinput {
width: 30px;
    color: yellow;
    background-color: chocolate;
}
.review {
	    box-shadow: 0 0 11px black;
    padding-bottom: 15px;
}
.questionnaire {
	box-shadow: 0 0 11px black;
    padding-bottom: 15px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	margin-right: 7px;
}


input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
	margin-bottom: 10px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
	background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.userEntry {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.userEntry .btn {
  padding: 14px 24px;
  font-size: 21px;
  margin: 0 auto;
  width: 200px;
}
.editiontextbox .btn {
  padding: 14px 24px;
  font-size: 21px;
  margin: 0 auto;
  width: 200px;
}
.editiontextbox .btn2 {
  width: 300px;
}
div#scrollable {
    overflow-y: scroll;
    height: 100%;
}
.keywordsinput {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .userEntry {
    border-bottom: 0;
  }
}
